.project-view {
    display: flex;
    flex-flow: column;
    margin: 0px 20px;
    gap: 20px;


    .project-header {
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 20px;

        img {
            cursor: pointer;
            width: 35px;
            height: 30px;
            padding: 5px;
            filter: invert();
        }

        img:hover {
            width: 35px;
            height: 35px;
            border-radius: 35px;
            border-color: black;
            border-style: solid;
            border-width: 2px;
        }

        h2 {
            margin: 0;
            font-size: 2rem;
        }
    }

    .project-members {
        display: flex;
        flex-flow: column;
    }

    .list-members {
        display: flex;
        flex-flow: row;
    }
}

.whiteboards {
    .texts {
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        h3 {
            margin: 0;
            font-size: 1.6rem;
        }
    }
}

.kanbans {
    .texts {
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        h3 {
            margin: 0;
            font-size: 1.6rem;
        }
    }

}
.whiteboard_link_cont {
    margin-bottom: 12px;
    
}
.whiteboard_link {
    background-color: rgb(49, 42, 54);
    color: white;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
}