:root {
    --c-a-icon: 35px;
}

.add-category-texts {
    width: 280px;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;

    span {
        font-size: 1.3rem;
        font-weight: lighter;
    }
}

.add-category-icon {
    border-color: black;
    border-style: solid;
    border-radius: 12px;
    border-width: 2px;
    filter: invert();
    width: var(--c-a-icon);
    height: var(--c-a-icon);
    cursor: pointer;
}

.add-category-icon:hover {
    border-color: rgb(185, 126, 78);
}