:root {
    --grid-gap: 20px;
    --grid-width: 100%;
}

.grid-projects {
    display: grid;
    grid-auto-flow: row;
    grid-gap: var(--grid-gap);
    grid-row-gap: 30px;
    grid-template-columns: var(--grid-width);
}

@media (min-width: 1000px) {
    :root {
        --grid-width: calc(50% - var(--grid-gap)/2)
    }

    .grid-projects {
        grid-template-columns: var(--grid-width) var(--grid-width);
    }

    @media (min-width: 1500px) {
        :root {
            --grid-width: calc(33% - var(--grid-gap)/2)
        }

        .grid-projects {
            grid-template-columns: var(--grid-width) var(--grid-width) var(--grid-width);
        }
    }
}