.add-user-btn {
    background-color: blue;
    margin: 0;
    padding: 5px 15px;
}

.add-user-container {
    position: absolute;
    width: min-content;
    height: min-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: aqua;
}