.add-user-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(17, 25, 40);

    h2 {
        margin: 0;
    }
}