:root {
    --k-i-icon: 30px;
}

.add-item-icon {
    width: var(--k-i-icon);
    height: var(--k-i-icon);
    border-color: black;
    border-style: solid;
    border-radius: 12px;
    border-width: 2px;
    filter: invert();
    cursor: pointer;
}

.add-item-icon:hover {
    border-color: rgb(190, 156, 0);
}