.whiteboard_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.whiteboard_PageTitle {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
}
.whiteboard_toolbar{
    background-color: rgb(61, 61, 61);
    padding: 8px;
}
.whiteboard_Toolbar_Button{
    background-color: rgb(41, 39, 44);
    margin-inline: 10px;
    height: 40px;
}
.whiteboard_Toolbar_Colorpicker {
    -webkit-appearance: none;  /* Remove default WebKit styling (Chrome, Safari, etc.) */
    -moz-appearance: none;     /* Remove default Mozilla styling (Firefox) */
    appearance: none;    
    background-color: rgb(41, 39, 44);
    border: none;
    border-radius: 8px;
    margin-inline: 10px;
    cursor: pointer;
    width: 60px;
    height: 40px;
    margin-inline: 10px;
    padding-bottom: 11px;
    
}
.whiteboard_Toolbar_Strokesize{
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgb(41, 39, 44);
    font-size: 18px;
    cursor: pointer;
    margin-inline: 10px;
}
.whiteboard_Toolbar_textinput {
    height: 40px; 
    font-Size: 18px; 
    width: 160px; 
    border-Radius: 8px; 
    background-color: rgb(41, 39, 44);
    border: none;
    padding: 4px;
    margin-inline: 10px;
}
