.header {
	flex: 1 0 auto;
	max-height: 64px;
	padding-left: 12px;
	padding-right: 12px;
	background-color: #333333;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

.header-title {
	font-size: 2rem;
	margin: 0;
}

.header-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-profile {
	display: flex;
	align-items: center;
	justify-content: space-between;
}