.kanban-item-container {
    padding: 10px;
    background-color: rgb(12, 27, 32);
    border-style: solid;
    border-color: white;
    border-width: 4px;
    border-radius: 12px;
    cursor: pointer;

    h2 {
        margin: 0;
    }

    .kanban-status {
        display: flex;
        gap: 12px;

        .texts {
            display: flex;
            align-items: center;
            gap: 6px;

            span {
                padding: 4px 0px;
            }

            .status {
                border-radius: 8px;
                padding: 4px;
            }

            .planning {
                background-color: rgb(255, 102, 0);
            }

            .in.progress {
                background-color: rgb(184, 158, 12);
            }

            .done {
                background-color: rgb(7, 117, 75);
            }

            .archived {
                background-color: rgb(94, 4, 4);
            }

            p {
                margin: 0;
            }
        }
    }
}